@import "../../sass/core/index";

.List {
    position: relative;

    .col-l {
        width: 100%;
        margin: 20px auto;
        padding: 0 20px;
        max-height: calc(100vh - 120px);
        overflow-y: auto;

        @include media-breakpoint-up(md) {
            max-width: 800px;
        }
    }

    .list-controls {
        display: flex;
    }

    .list-group-item {
        cursor: pointer;
        background-color: inherit;
        box-shadow: none;
        transition: box-shadow ease-in 0.2s;
        height: 118px;
        overflow: hidden;

        &.active, &:hover {
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
            border-color: transparent;
            color: inherit;
        }
    }

    ul.list-group {
        > li:first-child {
            border-top: none;
        }
    }

    .item-title {
        font-weight: bold;
        font-size: 1.25rem;
        color: #039be5;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .item-date {
        font-weight: lighter;
        font-style: italic;
        min-width: 130px;
        text-align: right;
    }

    .item-des {
        overflow: hidden;
        height: 53px;
    }

    .pagination {
        justify-content: center;

        > li {
            > a {
                position: relative;
                display: block;
                padding: .5rem .75rem;
                margin-left: -1px;
                line-height: 1.25;
                color: #007bff;
                background-color: #fff;
                border: 1px solid #dee2e6;

                &:not(:disabled):not(.disabled) {
                    cursor: pointer;
                }
            }
        }
    }
}