.Media {

  .media-player {
    width: 100%;
    display: block;

    img {
      height: auto;
    }
  }

  .loading {
    .media-player {
      opacity: 0;
    }
  }

  .spinner-wrapper {
    position: relative;
    height: 100px;
    margin-top: 1rem;
  }
}